/* Resets */
body {
    margin: 0;
    background: #e1e2e1;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

/*banner styles*/
.banner {
    position: fixed;
    max-width: 100%;
    min-height: 53px;
    width: 100%;
    background: #ab000d;
    text-align: center;
    z-index: 1;
}

.block {
    margin: 3px;
}

.center {
    margin: auto;
}

.content {
    position: relative;
    max-width: 100%;
    top: 54px;
    overflow: auto;
}

.container {
    position: relative;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #f5f5f6;
    overflow: auto;
}

.row {
    position: relative;
    width: 100%;
}

.mt-2 {
    margin-top: 9%;
}

.mb-2 {
    margin-bottom: 9%;
}

.my-2 {
    margin: 9% 0;
}

.text-align-center {
    text-align: center;
}

/* portrait styles */

#portrait {
    border-radius: 50%;
    width: 60%;
    margin: 0 20%;
}

/* menu styles */
#menu {
    font-size: 2em;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

#menu:hover {
    background: #ab000d;
}

#drop-down {
    background-color: #e53935;
    color: white;
}

.hide-menu {
    display: none;
}

.show-menu {
    display: block;
}
